In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import metrics

In [ ]:
df=pd.read_csv("/content/train (2).csv")
d=pd.read_csv("/content/test (1).csv")

In [ ]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
df.drop_duplicates()
d.drop_duplicates()
d.duplicated().sum()

0

In [ ]:
df['Sex']=df['Sex'].replace('male', 0)
df['Sex']=df['Sex'].replace('female', 1)
d['Sex']=d['Sex'].replace('male', 0)
d['Sex']=d['Sex'].replace('female', 1)
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
median_age=df['Age'].median()
df['Age'].fillna(median_age, inplace=True)

median_age=d['Age'].median()
d['Age'].fillna(median_age, inplace=True)
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
x=df.loc[:,['Pclass','Sex','Age','Fare']]
y=df.loc[:,'Survived'].values

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=10)

In [ ]:
#SVM
clf = SVC(kernel='linear')
clf.fit(x_train, y_train)

SVC(kernel='linear')

In [ ]:
y_pred=clf.predict(x_test)
print( metrics.accuracy_score(y_test, y_pred)*100)

82.12290502793296

In [ ]:
# Gaussian 
gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_pred=gnb.predict(x_test)

In [ ]:
print( metrics.accuracy_score(y_test, y_pred)*100)

82.12290502793296

In [ ]:
# multinomial
mnb = MultinomialNB()
mnb.fit(x_train, y_train)
y_pred = mnb.predict(x_test)

In [ ]:
print( metrics.accuracy_score(y_test, y_pred)*100)

77.09497206703911

In [ ]:
# Random Forest 
RF = RandomForestClassifier(max_depth=10, random_state=42)
RF.fit(x_train, y_train)

RandomForestClassifier(max_depth=10, random_state=42)

In [ ]:
y_pred = RF.predict(x_test)

In [ ]:
print( metrics.accuracy_score(y_test, y_pred)*100)

86.59217877094973

In [ ]:
median_age=d['Age'].median()
d['Age'].fillna(median_age, inplace=True)

In [ ]:
fare_3 = d.groupby('Pclass').mean()['Fare'][3]
d['Fare'].fillna(fare_3, inplace=True)
d.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [ ]:
dx=d.loc[:,['Pclass','Sex','Age','Fare']]

In [ ]:
pred = RF.predict(dx)

In [ ]:
nd= pd.DataFrame(data=d['PassengerId'],columns=['PassengerId'])
nd

     PassengerId
0            892
1            893
2            894
3            895
4            896
..           ...
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [ ]:
nd['Survived']=pred

In [ ]:
nd

     PassengerId  Survived
0            892         0
1            893         0
2            894         1
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]